#main-div {
    display: flex;
    flex-direction: row;
    max-height: 95%;
    height: 95%;
}

#conversation-div {
    display: flex;
    flex-direction: column;
    flex-grow: 8;
}

#side-div {
    flex-grow: 2;
}

#msg-list {
    flex-grow: 29;
    overflow: auto;
    scroll-behavior: smooth;
}

#message-input-container {
    bottom: 0;
    flex-grow: 1;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 0;
}

.input-group-prepend span {
    height: 100%;
}

#upper-container * {
    margin: 0;
}

body {
    background-color: #262626;
    color: #6bbcec;
}