<html>
    <head>
        <meta charset="utf-8">
        <title>Sleepy Chat 3.0 ?</title>
    </head>
    <body>
        <h1>Hello, World !</h1>
        <h2>Welcome to the new Sleepy Chat, this is in construction</h2>

        <form action="chat" method="post">
            <label> Pseudo </label>
            <input name="pseudo"/>
            <button> Enter Chat ! </button>
        </form>
    </body>
</html>